## Vorbereitung

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("MdB_Indexed.csv")
df = df.set_index("WP-JAHRE")
df.head()

,NUMIND,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,BERUF,AUSLAND,MANDATSART,WP1,WP2,...,WP10,WP11,WP12,WP13,WP14,WP15,WP16,WP17,WP18,WP19
WP-JAHRE,,,,,,,,,,,,,,,,,,,,,
1949-1953;01,0,1949,73,1,Union,Bundeskanzler a. D.,0,1.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,1,1949,45,1,Andere,"Bergmann, Gewerkschaftsfunktionär",0,0.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,2,1949,70,1,Andere,Kapitän a. D.,0,0.0,1,0,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,3,1949,59,1,Union,Geschäftsführer,0,1.0,1,1,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,4,1949,48,0,SPD,Buchhalterin,0,0.0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df = df.drop(["NUMIND", "BERUF"], axis = 1)

df.head()

,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,AUSLAND,MANDATSART,WP1,WP2,WP3,WP4,...,WP10,WP11,WP12,WP13,WP14,WP15,WP16,WP17,WP18,WP19
WP-JAHRE,,,,,,,,,,,,,,,,,,,,,
1949-1953;01,1949,73,1,Union,0,1.0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,1949,45,1,Andere,0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,1949,70,1,Andere,0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,1949,59,1,Union,0,1.0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1949-1953;01,1949,48,0,SPD,0,0.0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
uniq = list(df.index.unique())
print(uniq)

['1949-1953;01', '1953–1957;02', '1957–1961;03', '1961–1965;04', '1965–1969;05', '1969–1972;06', '1972–1976;07', '1976-1980;08', '1980–1983;09', '1983–1987;10', '1987–1990;11', '1990–1994;12', '1994–1998;13', '1998–2002;14', '2002–2005;15', '2005–2009;16', '2009–2013;17', '2013–2017;18', '2017-;19']

In [5]:
#Einzelne DFs
df_WP01 = df.loc[uniq[0]]
df_WP02 = df.loc[uniq[1]]
df_WP03 = df.loc[uniq[2]]
df_WP04 = df.loc[uniq[3]]
df_WP05 = df.loc[uniq[4]]
df_WP06 = df.loc[uniq[5]]
df_WP07 = df.loc[uniq[6]]
df_WP08 = df.loc[uniq[7]]
df_WP09 = df.loc[uniq[8]]
df_WP10 = df.loc[uniq[9]]
df_WP11 = df.loc[uniq[10]]
df_WP12 = df.loc[uniq[11]]
df_WP13 = df.loc[uniq[12]]
df_WP14 = df.loc[uniq[13]]
df_WP15 = df.loc[uniq[14]]
df_WP16 = df.loc[uniq[15]]
df_WP17 = df.loc[uniq[16]]
df_WP18 = df.loc[uniq[17]]
df_WP19 = df.loc[uniq[18]]


df_wp_list = [df_WP01, df_WP02, df_WP03, df_WP04, df_WP05, df_WP06, df_WP07, df_WP08, df_WP09, df_WP10, df_WP11, df_WP12, df_WP13,
df_WP14,df_WP15,df_WP16,df_WP17,df_WP18, df_WP19]

NumberMdBs= []
for e in df_wp_list:
    NumberMdBs.append(len(e["WP1"]))

print(NumberMdBs)
    
for e in df_wp_list:
     e.index = range(len(list(e.index)))

#Test
df_WP05.head()

[474, 558, 562, 580, 559, 556, 549, 553, 549, 576, 702, 699, 693, 699, 628, 642, 652, 658, 711]

,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,AUSLAND,MANDATSART,WP1,WP2,WP3,WP4,...,WP10,WP11,WP12,WP13,WP14,WP15,WP16,WP17,WP18,WP19
0,1965,35,1,Union,0,1.0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,1965,56,1,FDP,0,0.0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1965,46,1,SPD,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1965,89,1,Union,0,1.0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1965,45,1,Union,0,1.0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
def binary_transformer(dafr):
    uni_lst = list(dafr["PARTEI_KURZ"].unique())
    for e in uni_lst:
        dafr[e]= dafr["PARTEI_KURZ"] == e
        dafr[e].replace([True, False], [1,0], inplace = True)
        

for e in df_wp_list:
    binary_transformer(e)
    
df_WP10.head()

C:\Users\Laszlo Kuehl\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Laszlo Kuehl\Anaconda3\lib\site-packages\pandas\core\generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,AUSLAND,MANDATSART,WP1,WP2,WP3,WP4,...,WP14,WP15,WP16,WP17,WP18,WP19,Union,SPD,Bündnis 90/Die Grünen,FDP
0,1983,53,1,Union,0,1.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1983,59,1,SPD,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1983,55,1,Union,0,1.0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,1983,49,1,SPD,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1983,44,1,SPD,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## Prediction

In [10]:
from sklearn.cross_validation import KFold
from sklearn.cross_validation import cross_val_score
from sklearn.svm import SVC
from sklearn import neighbors
from sklearn import metrics
from matplotlib import pyplot as plt
from sklearn.naive_bayes import GaussianNB

C:\Users\Laszlo Kuehl\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [32]:
df_WP01 = df_wp_list[0]
df_WP01.head()

,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,AUSLAND,MANDATSART,WP1,WP2,WP3,WP4,...,WP14,WP15,WP16,WP17,WP18,WP19,Union,Andere,SPD,FDP
0,1949,73,1,Union,0,1.0,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,1949,45,1,Andere,0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,1949,70,1,Andere,0,0.0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1949,59,1,Union,0,1.0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1949,48,0,SPD,0,0.0,1,1,1,1,...,0,0,0,0,0,0,0,0,1,0

In [31]:
#Periode 1
X1, y1 = df_WP01[["ALTER","GESCHLECHT", "AUSLAND", "MANDATSART","Union","Andere","SPD","FDP"]], df_WP01["WP2"]
gnb1 = GaussianNB()
scores1 = cross_val_score(gnb, X1,y1, cv = 10, scoring ="accuracy")
print(scores1)

[0.72916667 0.72916667 0.70833333 0.64583333 0.70833333 0.72340426
 0.74468085 0.76595745 0.65957447 0.7173913 ]

In [14]:
df_WP02 = df_wp_list[1]
df_WP02.head()

,ANFANG,ALTER,GESCHLECHT,PARTEI_KURZ,AUSLAND,MANDATSART,WP1,WP2,WP3,WP4,...,WP14,WP15,WP16,WP17,WP18,WP19,Union,SPD,FDP,Andere
0,1953,40,0,Union,1,0.0,0,1,1,1,...,0,0,0,0,0,0,1,0,0,0
1,1953,77,1,Union,0,1.0,1,1,1,1,...,0,0,0,0,0,0,1,0,0,0
2,1953,63,1,Union,0,1.0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1953,52,0,SPD,0,0.0,1,1,1,1,...,0,0,0,0,0,0,0,1,0,0
4,1953,39,1,Union,0,0.0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [30]:
#Periode 2
X2, y2 = df_WP02[["ALTER","GESCHLECHT", "AUSLAND", "MANDATSART","Union","Andere","SPD","FDP","WP1"]], df_WP02["WP3"]
gnb2 = GaussianNB()
scores2 = cross_val_score(gnb, X2,y2, cv = 10, scoring ="accuracy")
print(scores2)

[0.73476703 0.6953405 ]